@font-face {
  font-family: "Quicksand-Regular";
  src: url("/fonts/Quicksand-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand-Light";
  src: url("/fonts/Quicksand-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Pacifico-Regular";
  src: url("/fonts/Pacifico-Regular.ttf") format("truetype");
}

.footer {
  font-family: "Quicksand-Regular", sans-serif;
  background: url("/Banner-btm.png") no-repeat center bottom;
  background-size: cover;
  clip-path: ellipse(100% 75% at 50% 85%);

  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 24px;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
}
